@model IEnumerable<UserFileViewModel>
@{
	ViewBag.Title = "Home";
	
}
	@*@Html.ActionLink("Upload", "Upload", "File")*@
	<a asp-action="Upload" asp-controller="File" class="btn btn-success">Upload</a>
	
		
		
		@foreach (var file in Model)
		{
			@Html.Partial("_File", file);
		}
		
	
