@model IEnumerable<BearDenFileStorage.UserFileViewModel>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Home</title>
</head>
<body>
	@Html.ActionLink("Upload", "Upload", "File")
	<table>
		<tr>
			<th>Filename</th>
			<th>Size</th>
			<th>Last Modified</th>
		</tr>
		
		
		@foreach (var file in Model)
		{
			<tr>
				
				<td>
					@Html.ActionLink(file.Filename, "Details","File", new { id = file.FileId })
				</td>

				
					<td>
						@file.Size
					</td>
					<td>
						@file.LastEdit
					</td>
				
			</tr>
		}
		
	</table>

</body>
</html>