<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Upload</title>
</head>
<body>
	<form action="/" method="post">
		<input type="file" name="file" value="" />
		<label for="directory">Choose a subdirectory</label>
		<select id="directory">
			<option value="root">None</option>
			<option value="scripts">scripts</option>
			<option value="scripts/subdirectory">scripts/subdirectory</option>
		</select>
		<input type="submit" value="Upload"/>
	</form>
</body>
</html>